<h1>Let's train</h1>

    <%= form_for [@training] do |f| %>
        <% if @training.errors.any? %>
         <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
              <% @training.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
           </ul>
           <h2>What do you want to train today?</h2>
         </div>
        <% end %>

       
        <div class="field">
        	<h4>Topics</h4>

        		<%= radio_button_tag(:topic, "all") %>
				<%= label_tag(:all, "All topics") %>

          		<%= radio_button_tag(:topic, "key words") %>
				<%= label_tag(:key_words, "General key words") %>

				<%= radio_button_tag(:topic, "connectives") %>
				<%= label_tag(:connectives, "Connectives") %>

				<%= radio_button_tag(:topic, "prepositions") %>
				<%= label_tag(:prepositions, "Prepositions") %>

				<%= radio_button_tag(:topic, "opinions") %>
				<%= label_tag(:opinions, "Opinions") %>

				<%= radio_button_tag(:topic, "travel and tourism") %>
				<%= label_tag(:travel_and_tourism, "Travel and Tourism") %>

				<%= radio_button_tag(:topic, "home and local area") %>
				<%= label_tag(:local_area, "Home and local area") %>

				<%= radio_button_tag(:topic, "me, my family and friends") %>
				<%= label_tag(:me_my_family_and_friends, "Me, my family and friends") %>

				<%= radio_button_tag(:topic, "technology") %>
				<%= label_tag(:technology, "Technology") %>

				<%= radio_button_tag(:topic, "leisure") %>
				<%= label_tag(:leisure, "Leisure") %>

				<%= radio_button_tag(:topic, "festivals") %>
				<%= label_tag(:festivals, "Festivals") %>

				<%= radio_button_tag(:topic, "health and social issues") %>
				<%= label_tag(:health_and_social_issues, "Health and Social Issues") %>

				<%= radio_button_tag(:topic, "global issues") %>
				<%= label_tag(:global_issues, "Global Issues") %>

				<%= radio_button_tag(:topic, "education") %>
				<%= label_tag(:education, "Education") %>

				<%= radio_button_tag(:topic, "work") %>
				<%= label_tag(:work, "Work") %>
          </div>

        <div class="field">
        	<h4>Stage</h4>
        		<%= radio_button_tag(:stage, "all stages") %>
				<%= label_tag(:any_stage, "A mixture of stages") %>

				<%= radio_button_tag(:stage, "unseen") %>
				<%= label_tag(:unseen, "Words I haven't seen yet") %>

				<%= radio_button_tag(:stage, "0") %>
				<%= label_tag(:zero, "Words I haven't got right yet") %>

				<%= radio_button_tag(:stage, "1") %>
				<%= label_tag(:one, "Stage 1 words") %>

				<%= radio_button_tag(:stage, "2") %>
				<%= label_tag(:two, "Stage 2 words") %>

				<%= radio_button_tag(:stage, "3") %>
				<%= label_tag(:three, "Stage 3 words") %>

				<%= radio_button_tag(:stage, "4") %>
				<%= label_tag(:four, "Stage 4 words") %>				
        </div>

        <div class="field">
        	<h4>Type of word</h4>
        		<%= radio_button_tag(:word_type, "all word types") %>
				<%= label_tag(:all_word_types, "A mixture of word types") %>

				<%= radio_button_tag(:word_type, "verb") %>
				<%= label_tag(:verb, "Only verbs") %>

				<%= radio_button_tag(:word_type, "noun") %>
				<%= label_tag(:noun, "Only nouns") %>

				<%= radio_button_tag(:word_type, "adjective") %>
				<%= label_tag(:adjective, "Only adjectives") %>

				<%= radio_button_tag(:word_type, "preposition") %>
				<%= label_tag(:preposition, "Only prepositions") %>

				<%= radio_button_tag(:word_type, "other") %>
				<%= label_tag(:other, "Only other types of words") %>				
        </div>

        <input type="hidden" name="user_id" value=<%= current_user.id %>>
        <input type="hidden" name="tier" value=<%= current_user.tier %>>

          <div class="actions">
            <%= f.submit %>
          </div>
    <% end %>