<div class="container-fluid new-training">
	<div class="row">
			<h1><%= @user.name %>'s Training Session</h1>
		<div class="col-lg-12 training-form">
			<div class="training-details">
				<h3><%= @training.name %></h3>
				<small><%= @training.updated_at.strftime("%d %b %y") %></small>
			</div>

			<div class="training-words table-responsive">
				<h4>Topic:&nbsp;<%= @training.topic %>
				&emsp;&emsp;&emsp;Stage:&nbsp;<%= @training.stage %>
				&emsp;&emsp;&emsp;Word Types:&nbsp;<%= @training.word_type %></h4>
				<table class="display-trainings table-striped">
					<tr>
    					<th class="table-headings">German</th>
    					<th class="table-headings">English</th>
    					<th class="table-headings">Word Type</th>
    					<th class="table-headings">Current Stage</th>
    					<th class="table-headings">Most Recent Result</th>
  					</tr>
					<% @words.each do |w| %>
					<tr>
						<td class="words-to-train"><%= w.word.tl %></td>
						<td class="words-to-train"><%= w.word.english %></td>
						<td class="words-to-train"><%= w.word.word_type %></td>
						<td class="words-to-train"><% this_word = w.word.user_words.find_by(user_id: @user).try!(:stage) %>
													<% if this_word == nil %>
														You haven't seen this word yet.
													<% else %>
														<%= this_word %>
													<% end %>
						</td>
						<td class="words-to-train"><% if w.result == true %>
														Correct
													<% elsif w.result == false %>
														Incorrect
													<% else %>
														You haven't seen this word yet.
													<% end %>
						</td>
					</tr>
					<% end %>
				</table>
			</div>

			<%= button_to "I'm ready!", train_path(@user.id, @training.id), :method => "get", :class => "btn btn-default btn-md" %>
		</div>
	</div>
</div>