<div class="container-fluid new-training">
	<div class="row">
			<h1><%= @user.name %>'s Training Session</h1>
		<div class="col-lg-12 training-form">
			<div class="training-details">
				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tips" style="float:right">Tips</button>
				<br>
				<h3><%= @training.name %></h3>
				<small><%= @training.updated_at.strftime("%d %b %y") %></small>
			</div>
			

			<% @words.each_with_index do |w, i| %>
				<% q_num = i + 1 %>
				<% this_word = @user.user_words.find_by(word_id: w.word_id) %>
				<div class="training-<%= q_num %>">
					<div class="training-question">
						<% if this_word %>
							<% if this_word.stage >= 4 %>
								<h1>Q<%= q_num %>. <strong><%= w.word.english %></strong></h1>
								<h5><em>Type of word: <%= w.word.word_type %></em></h5>
								<h3>What is the German?</h3>
								<div class="training-answer">
									<form class="answer-question-<%= q_num %>" method="POST">
										<input type="text" name="q<%= q_num %>-answer" id="q<%= q_num %>-answer" placeholder="Your answer" autocomplete="off">
										<input type="hidden" class="js-answer" name="js-q<%= q_num %>-answer" id="<%= w.word_id %>">

										<button id="submit" type="submit" name="button">Submit</button>
										<div class="umlauts">
											<br>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="Ae" data-value="&Auml;">&Auml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="Oe" data-value="&Ouml;">&Ouml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="Ue" data-value="&Uuml;">&Uuml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="ae" data-value="&auml;">&auml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="oe" data-value="&ouml;">&ouml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="ue" data-value="&uuml;">&uuml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="ss" data-value="&szlig;">&szlig;</button>
										</div>
									</form>
								</div>
							<% elsif this_word.stage == 2 || this_word.stage == 3 %>
								<h1>Q<%= q_num %>. <strong><%= w.word.english %></strong></h1>
								<h5><em>Type of word: <%= w.word.word_type %></em></h5>
								<h3>What is the German?</h3>
								<h3><em><%= w.word.tl.gsub(/\B\w+\B/){$&.split(//).sort_by{rand}.join} %></em></h3>
								<div class="training-answer">
									<form class="answer-question-<%= q_num %>" method="POST">
										<input type="text" name="q<%= q_num %>-answer" id="q<%= q_num %>-answer" placeholder="Your answer" autocomplete="off">
										<input type="hidden" class="js-answer" name="js-q<%= q_num %>-answer" id="<%= w.word_id %>">

										<button id="submit" type="submit" name="button">Submit</button>
										<div class="umlauts">
											<br>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="Ae" data-value="&Auml;">&Auml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="Oe" data-value="&Ouml;">&Ouml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="Ue" data-value="&Uuml;">&Uuml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="ae" data-value="&auml;">&auml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="oe" data-value="&ouml;">&ouml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="ue" data-value="&uuml;">&uuml;</button>
											<button type="button" class="btn btn-primary btn-xs spec-char" id="ss" data-value="&szlig;">&szlig;</button>
										</div>
									</form>
								</div>
							<% else %>
								<h1>Q<%= q_num %>. <strong><%= w.word.english %></strong></h1>
								<h5><em>Type of word: <%= w.word.word_type %></em></h5>
								<h3>What is the German?</h3>
								<div class="training-answer">
									<% poss_words = [] %>
									<% until poss_words.length == 3 %>
										<% a_word = @words.sample %>
										<% if a_word != w && poss_words.include?(a_word) == false %>
											<% poss_words.push(a_word) %>
										<% end %>
									<% end %>
									<% poss_words.push(w) %>
									<form class="answer-question-<%= q_num %>" method="POST">
										<div class="btn-group " data-toggle="buttons">

										<% poss_words.shuffle.each do |pw| %>
											<label class="btn btn-primary multiple-choice">
											<input type="radio" name="q<%= q_num %>-answer" value="<%= pw.word.tl%>" ><%= pw.word.tl %>
											 </label>
										<% end %>
										<input type="hidden" class="js-answer" name="js-q<%= q_num %>-answer" id="<%= w.word_id %>">
										</div>
										<br><br>
										<button id="submit" type="submit" name="button">Submit</button>
									</form>
								</div>				

							<% end %>
						<% end %>
					</div>

					<div class="response">
					</div>
				</div>

			<% end %>
			<!-- <div class="training-1">
				<div class="training-question">
					<h3>Question 1 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-1" method="POST">
      					<input type="text" name="q1-answer" id="q1-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer" name="js-q1-answer">

      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-2">
				<div class="training-question">
					<h3>Question 2 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-2">
      					<input type="text" name="q2-answer" id="q2-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer" name="js-q2-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-3">
				<div class="training-question">
					<h3>Question 3 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-3" method="POST">
      					<input type="text" name="q3-answer" id="q3-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-4">
				<div class="training-question">
					<h3>Question 4 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-4" method="POST">
      					<input type="text" name="q4-answer" id="q4-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-5">
				<div class="training-question">
					<h3>Question 5 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-5" method="POST">
      					<input type="text" name="q5-answer" id="q5-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-6">
				<div class="training-question">
					<h3>Question 6 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-6" method="POST">
      					<input type="text" name="q6-answer" id="q6-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-7">
				<div class="training-question">
					<h3>Question 7 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-7" method="POST">
      					<input type="text" name="q7-answer" id="q7-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-8">
				<div class="training-question">
					<h3>Question 8 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-8" method="POST">
      					<input type="text" name="q8-answer" id="q8-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-9">
				<div class="training-question">
					<h3>Question 9 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-9" method="POST">
      					<input type="text" name="q9-answer" id="q9-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div>

			<div class="training-10">
				<div class="training-question">
					<h3>Question 10 will go here</h3>
				</div>
				<div class="training-answer">
					<form class="answer-question-10" method="POST">
      					<input type="text" name="q10-answer" id="q10-answer" placeholder="Your answer">
						<input type="hidden" class="js-answer">
      					<button id="submit" type="submit" name="button">Submit</button>
    				</form>
				</div>
				<div class="response">
				</div>
			</div> -->

			<div class="results">
			</div>
			
		</div>
	</div>
</div>
<div class="modal fade" id="tips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Tips for answering questions</h4>
				</div>
				<div class="modal-body">
					 <ul>
					 	<li>You need to include the correct gender for nouns (der / die / das). It might be annoying but you need to know them.</li>
					 	<br>
					 	<li>Nouns need to have a capital letter.</li>
					 	<br>
					 	<li>If the noun refers to a person, Linguathon uses the masculine version by default (eg 'der Lehrer' rather than 'die Lehrerin').</li>
					 	<br>
					 	<li>Use the plain version of adjectives, with no agreements (eg 'gelb')</li>
					 	<br>
					 	<li>For adverbs, Linguathon uses the masculine/nominative version by default (eg 'welcher')</li>
					 	<br>
					 	<li>You need to include umlauts and special characters. Use the buttons to insert them.</li>
					 	<br>
					 	<li>Look carefully at the word type to help you. There's a difference between 'a present' (noun), 'present' (adjective) and 'to present' (verb), for example.</li>
					 </ul>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
		</div>
		</div>
</div>
<script>
	var id = <%= @training.id %>
</script> 