<body>

<div class="container-fluid user-page">
	<div class="row">
	
		<div class="col-lg-4 achievements">
			<div class="stat-box">
				<div class="mini-header">
					<h3>Recently Seen Words</h3>
				</div>
				<div class="contents">
					<button href="#recent-words" class="btn btn-default" data-toggle="collapse">See Latest Words</button>
					<div id="recent-words" class="collapse">
					<% @recent_words.each do |w| %>
						<p><strong class="tl-word"><%= w.word.tl %></strong>: <%= w.word.english %>
						<br><small style="color: #88D317">Stage: <% if w.stage.nil? %>
									<em style="color:red">You haven't got this word right yet!</em>
								<% else %>
									<%= w.stage %></small>
								<% end %>
						</p>
					<% end %>
				</div>
				</div>
				</div>
			<div class="trophy-cabinet">
				<div class="mini-header">
					<h3>Trophy Cabinet</h3>
				</div>
				<div class="contents">
					<h4>Days Trained In A Row: <%= @user.streak(:trainings) %></h4>
					<h4>Total Points: <%= @user.points %></h4>
					<div class="trophies">
						<% if @user.achievements %>
							<% @user.achievements.each do |a| %>
								
									<img alt="<%= a.name %>" src="/assets/<%= a.icon %>" title="<%= a.description %>">
								
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 training">
			<%= button_to "Start training!", new_training_path, :method => "get", :class => "training-button" %>
			<div class="recent-trainings">
				<div class="mini-header">
					<h3><%= @user.name %>'s Training Sessions</h3>
				</div>
				<div class="contents">
					<button href="#training-sessions" class="btn btn-default" data-toggle="collapse">See Most Recent Training Sessions</button>
					<div id="training-sessions" class="collapse">
					<% @trainings.each do |t| %>
						<p><%= link_to "#{t.updated_at.strftime("%d %b %y")}: #{t.name.capitalize}", training_path(t) %>
					
						<br>Topic: <%= t.topic.capitalize %>
						</p>
					<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 stats">
			<div class="stat-box">
				<div class="mini-header">
					<h3>My Strengths</h3>
				</div>
				<div class="contents">
					<button href="#top-words" class="btn btn-default" data-toggle="collapse">Top Words</button>
					<div id="top-words" class="collapse">
						<% @best_words.each do |bw| %>
							<p><strong class="tl-word"><%= bw.word.tl %></strong>: <%= bw.word.english %>
							<br><small style="color: #88D317">Stage: <% if bw.stage.nil? %>
											<em style="color:red">You haven't got this word right yet!</em>
										<% else %>
											<%= bw.stage %></small>
										<% end %></p>
							<% end %>
					</div>
					<br><br>
					<button href="#top-topics" class="btn btn-default" data-toggle="collapse">Top Topics</button>
					<div id="top-topics" class="collapse">
					
						<% @best_topics.uniq.each do |bt| %>
							<p><%= bt.word.topic %></p>
						<% end %>
					</div>
					<br><br>
					<button href="#top-types" class="btn btn-default" data-toggle="collapse">Top Word Types</button>
					<div id="top-types" class="collapse">
					
						<% @best_word_types.uniq.each do |bwt| %>
							<p><%= bwt.word.word_type %></p>
						<% end %>
					</div>
					</div>
				</div>

			<div class="stat-box">
				<div class="mini-header">
					<h3>I Need To Improve...</h3>
				</div>
				<div class="contents">
					<button href="#worst-words" class="btn btn-default" data-toggle="collapse">Words To Work On</button>
					<div id="worst-words" class="collapse">
						<% @worst_words.each do |ww| %>
							<p><strong class="tl-word"><%= ww.word.tl %></strong>: <%= ww.word.english %>
							<br><small style="color: #88D317">Stage: <% if ww.stage.nil? %>
											<em style="color:red">You haven't got this word right yet!</em>
										<% else %>
											<%= ww.stage %></small>
										<% end %></p>
						<% end %>
					</div>
					<br><br>
					<button href="#worst-topics" class="btn btn-default" data-toggle="collapse">Topics To Work On</button>
					<div id="worst-topics" class="collapse">

						<% @worst_topics.uniq.each do |wt| %>
							<p><%= wt.word.topic %></p>
						<% end %>
					</div>
					<br><br>
					<button href="#worst-types" class="btn btn-default" data-toggle="collapse">Word Types To Work On</button>
					<div id="worst-types" class="collapse">

						<% @worst_word_types.uniq.each do |wwt| %>
							<p><%= wwt.word.word_type %></p>
						<% end %>
					</div>
					</div>
				</div>
		</div>
	</div>
</div>

</body>




	

